@import '../../../styles/variables.scss';
@import '../../../styles/components.scss';
@import '../../../styles/layout.scss';

.wrapper {
  width: 80%;
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;

  h1 {
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      margin-left: .5rem;
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    width: 100%;
  }
}

.form {
  @extend %container-card;
  display: flex;
  flex-flow: column;
  padding: 2rem;

  h3 {
    font-family: $primary-font;
    font-size: $primary-font-size;
    color: rgba(#3a3a3aee, 0.7)
  }
}