@import '../../styles/variables.scss';
@import '../../styles/layout.scss';
@import '../../styles/components.scss';

.wrapper {
  width: 100%;
}

.tabPanel {
  height: 100px;
  width: 100%;
  background-color: $primary-red;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $primary-border-radius $primary-border-radius 0 0;
  color: rgba(213, 212, 212, 0.817);

  li {
    font-size: $sub-header;
    font-family: $primary-font;
    &:hover {
      cursor: pointer;
    }
  }

  li:nth-child(2) {
    margin-left: 1rem;
  }
}

.error {
  @extend %message;
  background-color: rgb(255, 151, 151);
  color: rgb(218, 0, 0);
}

.success {
  @extend %message;
  background-color: rgb(25, 250, 108);
  color: rgb(58, 171, 26);
}

.form {
  @extend %flex-column-center;
  padding: 1rem;
}

.tab {
  padding-bottom: .25rem;
  border-bottom: 2px solid $primary-white;
  color: $primary-white;
}

.loaderContainer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  padding: 2rem;
  width: 150px;
}