@import '../../styles/variables.scss';

.wrapper {
  width: 100%;
}

.tabPanel {
  height: 100px;
  width: 100%;
  background-color: $primary-red;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem .25rem 0 0;
  color: rgba(213, 212, 212, 0.817);

  li {
    font-size: 1rem;
    font-family: $primary-font;

    &:hover {
      cursor: pointer;
    }

  }

  li:nth-child(2) {
    margin-left: 1rem;
  }
}

.error {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  border-radius: .25rem;
  text-align: center;
  background-color: rgb(255, 151, 151);
  color: rgb(218, 0, 0);
}

.success {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  border-radius: .25rem;
  text-align: center;
  background-color: rgb(25, 250, 108);
  color: rgb(58, 171, 26);
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
}

.tab {
  padding-bottom: .25rem;
  border-bottom: 2px solid white;
  color: white;
}