@import '../../styles/variables.scss';
@import '../../styles/components.scss';

.wrapper {
  height: auto;
}

.header {
  padding: .5rem 1rem;
  font-size: $sub-header;
  font-family: $primary-font;
  font-weight: bold;
  background-color: $primary-gray;
  border-bottom: 1px solid rgb(104, 104, 104);
  color: $primary-white;
}

.content {
  height: 70px;
  display: flex;
  flex-flow: column;
  padding: 1rem 1rem 2rem 1rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;

  button {
    @include btn-gradient($primary-blue, $secondary-blue);
  }
}



.message {
  @extend %font-base;
}