@import '../../styles/variables.scss';
@import '../../styles/components.scss';

.wrapper {
  height: auto;
}

.header {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-family: $primary-font;
  font-weight: bold;
  background-color: #a5a5a5;
  border-bottom: 1px solid rgb(104, 104, 104);
  color: white;
}

.content {
  height: 70px;
  display: flex;
  flex-flow: column;
  padding: 1rem 1rem 2rem 1rem;
}

.btnContainer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    @extend %font-base;
    background-color: #6ca0fa;
    color: white;
    border: none;
    border-radius: $primary-border-radius;
    padding: .25rem .5rem;

    &:hover {
      cursor: pointer;
      background-color: lighten(#6ca0fa, 5%);
    }
  }
}



.message {
  @extend %font-base;
}