@import '../../../../styles/variables.scss';
@import '../../../../styles/components.scss';


.radioWrapper {
  margin: 1rem 0;
}

.subHeader {
  @extend %font-sub-header; 
  margin-bottom: .5rem;
}

.radio {
  margin-top: .5rem;

  input {
    margin-left: -1px;
  }

  label {
    @extend %font-base;

    &:hover {
      cursor: pointer;
    }
  }
}