@import '../../../styles/components.scss';
@import '../../../styles/variables.scss';

.loginForm {
  height: 150px;
  @extend %form-flex;
}

.row {
  @extend %input-row;
}

.input {  
  @extend %input-field;
}

.submit {
  @extend %submit-btn;
}

.active {
  border: 2px solid rgb(109, 205, 237);
}

.inactive {
  border: 1px solid rgb(208, 208, 208);
}

.error {
  font-family: $primary-font;
  color: $primary-red;
  font-size: 10pt;
}