@import '../../../../styles/variables.scss';
@import '../../../../styles/components.scss';

.col {
  display: flex;
  flex-flow: column;
  margin-right: 1rem;

  label {
    @extend %font-sub-header; 
    margin-bottom: .5rem;
  }

  input {
    @extend %font-base;
  }
}

.dateTime {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0;
}

.dateField {
  margin-bottom: 1rem;
}

.error {
  @extend %font-base;
  margin-top: .25rem;
  color: $primary-red;
}