@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';
// @import '../../../styles/components.scss';

.wrapper {
  @extend %flex-column-center;
  margin: auto;
  width: 30%;
  margin-top: 5rem;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  p {
    font-size: .8rem;
  }

  h1,
  p {
    font-family: $primary-font;
    margin-bottom: .5rem;
  }
}

.error {
  width: 100%;
  color: $primary-red;
}

.auth {
  width: 100%;
  border: 1px solid rgb(169, 169, 169);
  border-radius: $primary-border-radius;
}