@import '../../../../styles/variables.scss';
@import '../../../../styles/components.scss';

.search {
  width: 100%;
}

.dropdownContainer {}

.searchVal {
  @extend %font-base;
  margin-top: .4rem;
  padding-left: .25rem;
}

.error {
  @extend %font-base;
  color: $primary-red;
}

.label {
  @extend %font-base;
  font-weight: bold;
}