@import '../../../../styles/variables.scss';

.search {
    width: 100%;
}

.dropdownContainer {

}

.searchVal {
    font-family: $primary-font;
    font-size: 10pt;
    margin-top: .4rem;
    padding-left: .25rem;
}