@import '../../../styles/components.scss';
@import '../../../styles/variables.scss';

.wrapper {
  display: flex;
  padding: 1rem;
  border: 1px solid rgba(222, 220, 220, 0.851);
  width: 200px;
  margin: 0 0 1rem 2rem;
  border-radius: $primary-border-radius;
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    margin-left: 1rem;
    width: 125px;
  }
}

.playerIcon {
  @extend %default-icon;
  i {
    font-size: 1.25rem;
  }
}

.playerDetails {
  margin-left: 1rem;
  p {
    font-family: $primary-font;
  }
}

.username {
  font-size: .85rem;
  font-weight: bold;
  margin-bottom: .25rem;
}

.fullname {
  font-size: .75rem;
  color: rgba(#3a3a3aee, 0.7)
}

