@import '../../../styles/components.scss';
@import '../../../styles/variables.scss';

.wrapper {
  display: flex;
  padding: 1rem;
  border: 1px solid rgb(222, 220, 220);
  width: 225px;
  margin: 0 2rem 1rem 0;
}

.playerIcon {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.5rem;
  }
}

.playerDetails {
  margin-left: 1rem;
  p {
    font-family: $primary-font;
  }
}

.username {
  font-size: 1rem;
  font-weight: bold;
}

.fullname {
  font-size: 10pt;
  color: rgba(#000000, 0.7)
}

