@import '../../styles/variables.scss';
@import '../../styles/components.scss';

.wrapper {
  @extend %container-card;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.imgContainer {
  width: auto;
  height: 100%;
  display: flex;
  padding: 1rem;

  img {
    width: 225px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    @media only screen and (min-width : 320px) and (max-width: 480px) {
      width: 335px;
      height: 175px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.detailsContainer {
  display: flex;
  flex-flow: column;
  padding: 1rem 1rem 1rem 0;

  h2, p { font-family: $primary-font }

  h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  p {
    font-size: $primary-font-size;
    margin-bottom: .25rem;
  }

  i {
    margin-right: .25rem;
    color: $primary-blue;
  }

  @media only screen and (min-width : 320px) and (max-width: 480px) {
    padding: 0 1rem 1rem 1rem;
  }
}
