.container {
  height: 100%;
}

.header {
  height: 35%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: white;

  h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }
}

.section {
  display: flex;
  flex-flow: column;
  align-items: center;
}
