@import '../../styles/variables.scss';
@import '../../styles/layout.scss';
@import '../../styles/components.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px auto;
  background-color: $secondary-white;
}

.header {
  @extend %flex-column-center;
  justify-content: center;
  grid-row: 1;
  background: #41295a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2b2d42, #4f326d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2b2d42, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $primary-white;

  h1 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .25rem;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      font-size: 2rem;
    }
  }
}

.eventsSection {
  @extend %flex-column-center;
}


.btn {
  @include btn-gradient(#26aafc, #2196db);
}