@import '../../styles/variables.scss';
@import '../../styles/layout.scss';
@import '../../styles/components.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px auto;
  background-color: $secondary-white;
}

.header {
  @extend %flex-column-center;
  justify-content: center;
  grid-row: 1;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  color: $primary-white;

  h1 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .25rem;
    font-size: 3.5rem;
    font-weight: 700;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-family: $primary-font;
    color: lighten(#485563, 10%);
    margin-bottom: 1rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      font-size: 1rem;
    }
  }
}

.line {
  height: 5px;
  width: 125px;
  background-color: red;
  margin: 1.5rem 0;
}

.eventsSection {
  @extend %flex-column-center;
}

.btnContainer {
  display: flex;
}

.btn {
  @include btn(#26aafc);
  padding: .75rem 1rem;
  font-size: 11pt;
  margin-right: 1rem;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    width: auto;
  } 
}

.btnHollow {
  padding: .75rem 1rem;
  font-size: 11pt;
  font-family: $primary-font;
  text-decoration: none;
  color: $primary-blue;
  border: 3px solid $primary-blue;
  border-radius: 3px;
  transition: border .25s ease, color .25s ease, background-color .25s ease;

  &:hover {
    border: 3px solid lighten($primary-blue, 10%);
    color: lighten($primary-blue, 10%);
    background-color: rgba(112, 112, 238, 0.516);
  }
}