@import '../../styles/variables.scss';
@import '../../styles/components.scss';
@import '../../styles/layout.scss';


.dropzone {
  @extend %font-base;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}