@import '../../styles/components.scss';
@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.wrapper {
  @extend %flex-column-center;
  width: 100%;
  background-color: $secondary-white;
  margin-bottom: 3rem;
}

.header {
  @extend %header-container;
}

.searchWrapper {
  @extend %container-card;
  width: 85%;
  padding: 1rem 0;
  margin: 2rem 0;
  @media only screen and (min-width : 320px) and (max-width: 480px) {
    width: 100%;
    margin: 1rem 0;
  }
}

.search {
  width: 45%;
  height: 25px;
  margin-left: 1rem;
  padding-left: .5rem;
  @media only screen and (min-width : 320px) and (max-width: 480px) {
    width: 85%;
  }
}

.container {
  width: 85%;
  display: flex;
  flex-flow: column;
  @media only screen and (min-width : 320px) and (max-width: 480px) {
    width: 100%;
  }
}

.row {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.pageControls { 
  display: flex;
  align-items: center;

  p {
    font-size: 1rem;
    font-family: $primary-font;
  }
}

.btn {
  border: none;
  background-color: $primary-white;

  i {
    font-size: 1.5rem;
  }
  &:hover:enabled {
    i {
      color: $primary-blue;
      cursor: pointer;
    }
  }
}