@import '../../styles/components.scss';
@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.wrapper {
  @extend %flex-column-center;
  width: 100%;
  background-color: $secondary-white;
  margin-bottom: 3rem;
}

.header {
  @extend %header-container;
}

.searchWrapper {
  @extend %container-card;
  width: 85%;
  padding: 1rem 0;
  margin: 2rem 0;
}

.search {
  width: 45%;
  height: 25px;
  margin-left: 1rem;
  padding-left: .5rem;
}

.container {
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid black;
}