@import '../../../styles/components.scss';

.largeTextContainer {
    // @extend %container-card;
    width: 90%;
    margin: 2rem 0;
    // padding: 2rem;
  
    p {
      font-size: 12pt;
      font-family: $primary-font;
      line-height: 2rem;
      text-align: left;
    }
  }