.sidebar {
  height: 100%;
  width: 75px;
  background-color: blue;
  position: fixed;
  overflow:hidden;
  z-index: 1;
  display: flex;
  flex-flow: column;
}

.home {

}

.login {
  margin-top: auto;
}