@import '../../styles/variables.scss';
@import '../../styles/layout.scss';
@import '../../styles/components.scss';

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(rgb(57, 57, 57), .8);
  z-index: 2;
  transform: none;
}

.sidebar {
  height: 100%;
  width: $sidebar-width;
  background-color: #2b2d42;
  border-right: .5px solid rgba(176, 176, 176, 0.694);
  position: fixed;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: visibility .25s, opacity 0.25s linear;

  @media only screen and (max-width : 900px) {
    visibility: hidden;
    opacity: 0;
  }
}

.home {
  width: calc(#{$sidebar-width} - 15px);
  height: calc(#{$sidebar-width} - 15px);
  display: flex;
  align-items: center;
  margin: .5rem 0;
  padding-bottom: 5px;
  border-bottom: .5px solid $primary-white;
  @extend %hover-text;
}

.homeContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  i {
    font-size: 1.5rem;
    color: $primary-white;

    &:hover {
      cursor: pointer;
    }
  }
}

.login_wrapper {
  @extend %flex-column-center;
  width: 100%;
  margin-top: auto;
  padding: 1rem 0;
  border-top: .5px solid rgba(176, 176, 176, 0.694);
  color: rgb(199, 198, 198);

  &:hover {
    cursor: pointer;
    color: $primary-white;
  }

  i {
    font-size: 1.5rem;
  }

  p {
    @extend %font-base;
  }
}

.user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 1rem;
  @extend %hover-text;
}

.userIcon {
  @extend %default-icon;
}

.eventScroller {
  @extend %event-scroller;
}

.eventScrollerHosting {
  @extend %event-scroller;
  margin-top: 3rem;
  padding-bottom: 5px;
  border-bottom: .5px solid rgba(176, 176, 176, 0.694);
}

.block {
  width: calc(#{$sidebar-width} - 15px);
  height: calc(#{$sidebar-width} - 15px);
  display: flex;
  align-items: center;
  margin: .5rem auto;
  border: 1px solid black;
  border-radius: 3px;
  background-color: $primary-white;

  img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @extend %hover-text;
}


%hover-text {
  p {
    position: fixed;
    left: 55px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .25s ease-in;
    clip-path: polygon(10% 0%, 100% 1%, 100% 100%, 10% 100%, 0% 50%);
    font-family: $primary-font;
    font-size: $primary-font-size;

    span {
      margin-left: .5rem;
    }
  }

  &:hover {
    cursor: pointer;

    p {
      visibility: visible;
      opacity: 1;
      z-index: 4;
      padding: .5rem;
      border-radius: $primary-border-radius;
      background-color: rgba(21, 21, 21, 0.879);
      color: $primary-white;
    }
  }
}