@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.sidebar {
  height: 100%;
  width: $sidebar-width;
  background-color:rgb(58, 27, 74);
  border-right: .5px solid rgba(255, 255, 255, 0.694); 
  position: fixed;
  overflow:hidden;
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.home {
  margin-top: .5rem;
  font-size: 1.5rem;
  display: block;
  color: white;
  padding-bottom: 5px;
  border-bottom: .5px solid white;

  &:hover {
    cursor: pointer;
  }
}

.login_wrapper {
  @extend %flex-column-center;
  width: 100%;
  margin-top: auto;
  padding: 1rem 0;
  border-top: 1.5px solid $primary-white;
  color:rgb(199, 198, 198);

  &:hover {
    cursor: pointer;
    color: $primary-white;
  }

  i {
    font-size: 1.5rem;
  }
  p {
    font-size: $btn-font;
  }
}

.user {
  padding: 1rem;
  border: 2px solid $primary-white;
  border-radius: 100%;
  margin-top: 1rem;
  color: $primary-white;
  background-color: gray;
}

.login {

}

.logout {
  // color: rgb(235, 103, 103);
}