@import '../../styles/variables.scss';

.item {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
  border: 1px solid black;
  border-radius: $primary-border-radius;
  background-color: $primary-white;

  &:hover {
    cursor: pointer;
  }

  p {
    font-size: $primary-font-size;
    font-family: $primary-font;
  }
}

.img_container {
  height:55%;
  // background-color: cadetblue;
  background-image: url('../../assets/banner.jpg');
  background-repeat: none;
  background-size: contain;
  // border-radius: 3px 3px 0 0;
}

.details {
  padding: .5rem;
}

.title {
  font-weight: bold;
}