@import '../../styles/variables.scss';

.item {
  height: 200px;
  width: 200px;
  // margin-right: 1rem;
  border: 1px solid rgb(205, 205, 205);
  border-radius: $primary-border-radius;
  background-color: $primary-white;
  @media only screen and (min-width : 320px) and (max-width: 480px) {
    width: 150px;
  }

  &:hover {
    cursor: pointer;
  }

  p {
    font-size: $primary-font-size;
    font-family: $primary-font;
  }
}

.imgContainer {
  height:55%;
  img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  // border-radius: 3px 3px 0 0;
}

.details {
  padding: .5rem;
}

.title {
  font-weight: bold;
}