@import '../../../../styles/variables.scss';
@import '../../../../styles/components.scss';

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row {
  @extend %input-row;
  width: 45%;

  input {
    @extend %font-base;
  }
}

.subHeader {
  @extend %font-base;
  font-weight: bold;
  margin-bottom: .5rem;
}

.textarea {
  resize: none;
  height: 250px;
  padding: 1rem;

  input {
    @extend %font-base;
  }
}
