@import '../../../styles/variables.scss';
@import '../../../styles/components.scss';
@import '../../../styles/layout.scss';

.formWrapper {
    @extend %container-card;
    // margin: 4rem 0;
    width: 50%;
    min-width: 240px;
    padding: 2rem;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: 100%;
    }
}

.form {
    @extend %form-flex;
}