@import '../../styles/variables.scss';
@import '../../styles/components.scss';
@import '../../styles/layout.scss';

.loaderWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: $primary-white;
}

.wrapper {
  padding-bottom: 2rem;
}

.bodyLayout {
  width: 100%;
  @extend %flex-column-center;
}

.banner {
  max-height: 450px;
  overflow-y: hidden;

  img {
    width: 100%;
    background-repeat: no-repeat;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      margin-top: 3rem;
    }
  }
}

.headerWrapper {
  display: flex;
  padding: 2rem 4rem;
  background-color: $primary-white;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    display: block;
    padding: 1rem;
  }

  @media only screen and (max-device-width : 900px) {
    padding: 2rem 1rem; 
  }
}

.btnContainer {
  margin-left: auto;
  align-self: flex-end;
  display: flex;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    margin-top: .5rem;
  }
}


.btn {
  @include btn-gradient(#26aafc, #2196db);
  width: 125px;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    flex-basis: 100%;
  }
}

.btnEdit {
  @include btn-gradient(#e4ba31, #e3a215);
  width: 125px;
  margin-left: 1rem;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    flex-basis: 100%;
  }
}

.btnLeave {
  @include btn-gradient(#e4315b, #d30f3d);
  width: 125px;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    flex-basis: 100%;
  }
}