@import '../../styles/variables.scss';

.loaderWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: $primary-white;
}