@import '../../styles/variables.scss';

.carouselContainer {
  margin: 2rem;
  width: 80%;
}

.carouselHeader {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  margin-bottom: .25rem;
  h2 {
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: bold;
  }
}

.carouselBtns {
  margin-left: auto;
  margin-right: 5%;
  display: flex;

}

.btnContainer {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 2px darkslategray;
  
  &:nth-child(1) {
    margin-right: .5rem;
  }

  &:hover {
    cursor: pointer;
  }

}

.sliderBtn {
  color: $primary-blue;

  &:hover {
    cursor: pointer;
    color: lighten($primary-blue, 10%);
  }

}

