

.carouselContainer {
  margin: 2rem;
  height: 250px;
  width: 850px;
  border: 1px solid black;
}

.carouselHeader {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  margin-bottom: .25rem;
  h2 {
    font-size: 1.25rem;
  }
}

.carouselBtns {
  margin-left: auto;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.list {
  display: flex;
  position: relative;
  left: -25%;
  list-style: none;
  transform: translateX(25%);
  // width: auto;
}

/* .carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
} */

.item {
  flex: 0 0 200px;
  height: 200px;
  margin: 0 .5rem;
  outline: 1px solid black;
}


