.carouselContainer {
  margin: 2rem;
  width: 62.5%;
  // border: 1px solid black;
}

.carouselHeader {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  margin-bottom: .25rem;
  h2 {
    font-size: 1.25rem;
  }
}

.carouselBtns {
  margin-left: auto;
  button {
    margin-right: 2rem;
  }
}

