@import 'variables';

%input-field {
  padding: .25rem;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px rgb(218, 218, 218);
}

%submit-btn {
  font-size: 12pt;
  padding: .75rem;
  text-align: center;
  background-color: $primary-red;
  color: $primary-white;
  border: none;

  &:hover {
    background-color: darken($primary-red, 5%);
  }
}

%form-flex {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-basis: 0 0 100%;
}

%input-row {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;

  label {
    font-family: $primary-font;
    font-size: 10pt;
  }
}

%message {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  border-radius: .25rem;
  text-align: center;
}

%container-card {
  background-color: $primary-white;
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.2);
  border-radius: $primary-border-radius;
}

%font-base {
  font-family: $primary-font; 
  font-size: $primary-font-size;
}

%default-icon {
  flex-basis: 35px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  font-family: $primary-font;
  background-color: teal; 
  color: white;
  border: 3px solid rgb(160, 160, 160);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

%event-scroller {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}



@mixin btn-gradient($color1, $color2) {
  @extend %font-base;
  padding: .5rem 1rem;
  background: linear-gradient(180deg, $color1, $color2);
  // background: linear-gradient(180deg, #26aafc, #2196db);
  border-radius: $primary-border-radius;
  color: $primary-white;
  text-decoration: none;

  &:hover {
    background: linear-gradient(180deg, lighten($color1, 10%),lighten($color2, 10%));
    cursor: pointer;
  }
}


