$sidebar-width: 60px;
$primary-border-radius: 3px;


// button variables
$btn-font: 10pt;


// Colors
$primary-red: #cb333b;
$primary-white: rgb(245, 245, 245);


// Fonts 
$primary-font: Helvetica Neue, Helvetica, Arial, sans-serif;
$primary-font-size: 10pt;