$sidebar-width: 55px;
$primary-border-radius: 3px;

// Colors
$primary-red: #cb333b;
$primary-white: #ffffff;
$secondary-white: #fbfbfb;
$primary-blue: #26aafc;
$secondary-blue: #2196db;
$primary-gray:#a5a5a5;


// Fonts 
$primary-font: Helvetica Neue, Helvetica, Arial, sans-serif;
$primary-font-size: 10pt;
$secondary-font-size: 9pt;
$sub-header: 1rem;
$header: 1.5rem;