$sidebar-width: 60px;
$primary-border-radius: 3px;


// button variables
$primary-font-size: 10pt;


// Colors
$primary-red: #cb333b;
$primary-white: #ffffff;
$secondary-white: #fbfbfb;


// Fonts 
$primary-font: Helvetica Neue, Helvetica, Arial, sans-serif;
$primary-font-size: 10pt;